extends layout

block content
    div#main
    .show-container
        .poster#poster
            img(src=`https://image.tmdb.org/t/p/w500${response.poster_path}`, alt='')
        .show-des
            h1.movie-name#movie-name response.title
            p.movie-des#movie-des response.overview
            .icon-container
                span.material-symbols-outlined#favorite(onclick='add_to_fav()') favorite
                p.Upgrd-plan
                    p.film-btn Watch now
                a.Upgrd-plan(href="upgrade-plan") Rent
    script(src="routes/genre.js")
    script(src="routes/login.js")
    script(src="routes/film.js")
    script(src="routes/search.js")