doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="public/stylesheets/LU.css")
    script(src="routes/script.js")
    script(src="index.js")
    title Login
  body
    .login-box
      .lb-header
        a.active#login-box-link(href='#', onclick="loginclick()") Login
        a#signup-box-link(href='#', onclick="signupclick()") Sign Up
      form.email-login#email-login(method="POST", action="")
        .u-form-group
          input(type='email', placeholder='Email')
        .u-form-group
          input(type='password', placeholder='Password')
        .u-form-group
          input(type='submit', value="Login")
        .u-form-group
          a.forgot-password(href='#') Forgot password?
      form.email-signup#email-signup(method="POST", action="")
        .u-form-group
          input(type='email', placeholder='Email')
        .u-form-group
          input(type='password', placeholder='Password')
        .u-form-group
          input(type='password', placeholder='Confirm Password')
        .u-form-group
          input(type='submit', value="Sign Up")
    script(src="routes/login.js")