@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
body {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  /* background-image: url("https://lh3.google.com/u/2/d/1RMJkHVJX51WyP7ouqEo6-AdFo9p8V7GG=w1920-h868-iv1"); */
  background-image: url("../images/MoviesBay-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.box-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}
.box-dis {
  background-color: white;
  padding: 3vw;
  padding-bottom: 10vh;
  min-width: 500px;
  height: fit-content;
  display: grid;
  grid-template-rows: 30% auto;
  border-radius: 30px;
  font-family: "Open Sans", sans-serif;
  row-gap: 5vh;
}
.input-holder p,
.submit-btn {
  margin: 0;
  margin-top: 5%;
}
.sign-in-input {
  width: 100%;
  display: block;
  height: 5vh;
  border-radius: 7px;
}
.sign-in-label {
  font-size: 15pt;
}
.submit-btn {
  width: 103%;
  background-color: #404040;
  border: none;
  color: white;
  height: fit-content;
  border-radius: 7px;
  font-size: 15pt;
  padding-top: 2%;
  padding-bottom: 2%;
}
.br {
  border: 1px solid black;
  width: 70%;
  height: 3px;
  background-color: black;
  margin: 3% auto;
}
.l-container{
  width: 100vw;
  height: 100vh;
  display: grid;
  place-content: center;
}
.login-box {
  position: relative;
  width: 500px;
  height: 380px;
  background-color: #fff;
  padding: 10px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.33);
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.33);
}
.lb-header {
  position: relative;
  color: #00415d;
  margin: 5px 5px 10px 5px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
  text-align: center;
  height: 28px;
}
.lb-header a {
  margin: 0 25px;
  padding: 0 20px;
  text-decoration: none;
  color: #666;
  font-weight: bold;
  font-size: 15px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.lb-header .active {
  color: #1f1f1f;
  font-size: 18px;
}
.social-login {
  position: relative;
  float: left;
  width: 100%;
  height: auto;
  padding: 10px 0 15px 0;
  border-bottom: 1px solid #eee;
}
.social-login a {
  position: relative;
  float: left;
  width: calc(40% - 8px);
  text-decoration: none;
  color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 12px;
  border-radius: 2px;
  font-size: 12px;
  text-transform: uppercase;
  margin: 0 3%;
  text-align: center;
}
.social-login a i {
  position: relative;
  float: left;
  width: 20px;
  top: 2px;
}
.social-login a:first-child {
  background-color: #49639f;
}
.social-login a:last-child {
  background-color: #df4a32;
}
.email-login,
.email-signup {
  position: relative;
  float: left;
  width: 100%;
  height: auto;
  margin-top: 20px;
  text-align: center;
}
.u-form-group {
  width: 100%;
  margin-bottom: 10px;
}
.u-form-group input[type="email"],
.u-form-group input[type="password"] {
  width: calc(50% - 22px);
  height: 45px;
  outline: none;
  border: 1px solid #ddd;
  padding: 0 10px;
  border-radius: 2px;
  color: #333;
  font-size: 0.8rem;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.u-form-group input:focus {
  border-color: #358efb;
}
.u-form-group input[type="submit"] {
  width: 50%;
  background-color: #404040;
  border: none;
  outline: none;
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  padding: 14px 0;
  border-radius: 2px;
  text-transform: uppercase;
}
.forgot-password {
  width: 50%;
  text-align: left;
  text-decoration: underline;
  color: #888;
  font-size: 0.75rem;
}
