@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body{
    margin: 0;
    padding: 0;
    background-color: #F2F2F2;
    background-image: url("https://scontent.fsgn5-10.fna.fbcdn.net/v/t1.15752-9/371481606_1375035496735647_446097127369405066_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=8cd0a2&_nc_ohc=TiZm7TW6ChgAX-4QfIV&_nc_ht=scontent.fsgn5-10.fna&oh=03_AdS9fj8q16E40LIb2S9AZH0LFVPmZ9XdMKvqXYq5U0OfRg&oe=6576EBA3");
    background-size: cover;
    background-position: center;
}
.box-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}
.box-dis{
    background-color: white;
    padding: 3vw;
    height: 50vh;
    width: 20vw;
    display: grid;
    grid-template-rows: 30% auto;
    border-radius: 30px;
    font-family: 'Open Sans', sans-serif;
    
}
.input-holder p,.submit-btn{
    margin: 0;
    margin-top: 5%;
}
.sign-in-input{
    width: 100%;
    display: block;
    height: 5vh;
    border-radius: 7px;
}
.sign-in-label{
    font-size: 15pt;
}
.submit-btn{
    width: 103%;
    background-color: #404040;
    border: none;
    color: white;
    height: 5vh;
    border-radius: 7px;
}